@import "variables_custom";

/* General */
/** Section spacing **/
section {
  padding-top: $line-height-computed;
  padding-bottom: $line-height-computed;
  &.no-padding {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/** Background colouring **/
.highlight {
  background-color: $gray-lighter;
}


/* Page elements */
/** Hero image **/
.hero {
  text-align: center;
  background-color: #ccc; // temp until image found
  .hero-text {
    padding-top: $line-height-computed*4;
    padding-bottom: $line-height-computed*4;
  }
}

/** Footer **/
footer {
  background-color: $gray;
  padding-top: $line-height-computed*2;
  padding-bottom: $line-height-computed*2;

  .footer-left img {
    height: 50px;
  }

  .footer-right img {
    height: 100px;
  }

  .footer-links {
    text-transform: uppercase;
  }
}

@media (min-width: $screen-sm) {
  footer {
    .footer-right {
      text-align: right;
    }

    ul, p {
      margin-bottom: 0;
    }

    .footer-links {
      height: 50px;
      margin-bottom: 0;
    }
  }
}

@media (max-width: $screen-xs-max) {
  footer {
    text-align: center;
    ul {
      padding-bottom: $line-height-computed;
    }
  }
}
