{% extends 'rest_framework/base.html' %}
{% load static %}

{% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="robots" content="NONE,NOARCHIVE" />
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
{% endblock %}

{% block title %}
{% if name %}{{ name }} – {% endif %}Kea Database API
{% endblock %}

{% block bootstrap_theme %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
{% endblock %}

{% block branding %}
  <a class="navbar-brand" href="{% url 'api-root' %}">
      Kea Database API
  </a>
{% endblock %}

{% block description %}
<div class="alert alert-warning" role="alert">
  <p>
    The rights to the data on the Kea Database belong to the Kea Sightings Project team, the providers of this service.<br />
    Please feel free to explore the API, but <a href="https://keadatabase.nz/about">contact us</a> if you wish to use this data elsewhere (e.g. for formal research).
  </p>
  <p>
    Commercial use of the website, API and data is prohibited.
  </p>
</div>
{% endblock %}
