{% load static compress %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="_ruaCnGdeKikK8qlg4mOhzrSDNr_tjv-juM-5GZjyd8" />

    <title>Kea Database</title>

    {% include 'includes/header_includes.html' %}
  </head>
  <body>
    {% include 'includes/nav.html' %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    {% include 'includes/footer_includes.html' %}
  </body>
</html>
