{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <h1>Kea Database</h1>
    <p>You've reached the alpha version of the Kea Conservation Trust kea database.</p>
    <p>
      <a href="#" class="btn btn-lg btn-primary" role="button"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Report sighting</a>
      <a href="{% url 'birds:index' %}" class="btn btn-lg btn-default" role="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search kea</a>
    </p>
  </div>
{% endblock %}
