{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify api_keys %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    #id_point_location-div-map {
      width: 100%;
      max-width: 1024px;
      height: 480px;
    }
  </style>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script type="text/javascript">
    window.addEventListener("map:init", function (event) {
      var map = event.detail.map;

      L.tileLayer(
        'https://api.mapbox.com/styles/v1/mapbox/outdoors-v9/tiles/256/{z}/{x}/{y}?access_token={% mapbox_api_key %}',
        {'attribution': 'Mapbox', 'maxZoom': 10}
      ).addTo(map);
      L.tileLayer(
        'https://tiles-a.data-cdn.linz.govt.nz/services;key={% linz_api_key %}/tiles/v4/layer=50798/EPSG:3857/{z}/{x}/{y}.png',
        {'attribution': 'LINZ, licensed for reuse (CC BY 4.0)', 'minZoom': 10, 'maxZoom': 12, 'subdomains': 'abcd'}
      ).addTo(map);
      L.tileLayer(
        'https://tiles-a.data-cdn.linz.govt.nz/services;key={% linz_api_key %}/tiles/v4/layer=50767/EPSG:3857/{z}/{x}/{y}.png',
        {'attribution': '', 'minZoom': 12, 'subdomains': 'abcd'}
      ).addTo(map);
    });
  </script>
{% endblock %}
