{% load static %}
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-left">
          <ul class="footer-links list-inline">
            <li><a href="{# url 'index' #}">API Home</a></li>
            <li><a href="{% url 'about' %}">About/Privacy</a></li>
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
          </ul>
          <p class="footer-sponsor">
            <a href="https://www.catalyst.net.nz/catalyst-cloud">
              <img src="{% static 'img/sponsors/catalyst-cloud.png' %}" alt="Powered by Catalyst Cloud" />
            </a>
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="footer-right">
          <p>
            <a href="http://www.keaconservation.co.nz/">
              <img src="{% static 'img/kea-conservation-logo-white.png' %}" alt="Kea Conservation Trust" />
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
