{% load static %}
<footer>
  <div class="container">
    <ul class="list-inline">
      <li><a href="#">About/Privacy</a></li>
      <li><a href="https://gitlab.com/greenstone/keadatabase">Source code</a></li>
      <li><a href="#">API</a></li>
      <li><a href="{% url 'admin:index' %}">Admin</a></li>
    </ul>
    <ul class="list-inline">
      <li><a href="http://www.keaconservation.co.nz/">Kea Conservation Trust</a></li>
    </ul>
    <p>
      <a href="https://www.catalyst.net.nz/catalyst-cloud"><img src="{% static 'img/sponsors/catalyst-cloud.png' %}" alt="Powered by Catalyst Cloud" class="catalyst-cloud" /></a>
    </p>
  </div>
</footer>
